main{
    .row{
        margin: 1px;
    }
    .btn-primary {
        background-color: #9e774a;
        border-color: rgba(0, 0, 0, 0);
      }
      
      .btn-primary:hover {
        background-color: #201e1e;
        border-color: #1d1717;
      }

}