h1 {
  text-align: center;
  font-size: 70px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .titulo {
    font-size: 40px;
    text-align: center;
    margin: 20px;
  }
}


section {
  .tituloPromocionales {
    color: #926c40;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  .cuotas {
    color: #dfba86;
  }

  .divImgPortada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include flex (column, center, center, inherit)
  }

  .imgPortada {
    width: auto;
    height: 70%;
  }
}


@media screen and (max-width:768px) {

  section {
    .divImgPortada {
      width: 100%;
      height: 100%;
      display: flex;

    }

    .imgPortada {
      width: 60%;
    }
  }
}

.productosPromocionales {
  display: flex;
  justify-content: center;
  padding-inline: 10px;
  gap: 5px;

  .columnaPromocionales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20%;
    overflow: hidden;

    .textoPromocionales {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .productosPromocionales {
    display: flex;
    flex-direction: column;
    align-items: center;

    .columnaPromocionales {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 20%;
      overflow: hidden;

      .textoPromocionales {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.divIngrMayorista {
  margin: 20px;

  @media screen and (max-width: 767px) {
    h2 {
      font-size: 20px;
    }

    .divIngrMayorista {
      margin: 20px;
    }
  }
}

.divIngresoMayor {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-floating {
  width: 400px;

  @media screen and (max-width: 768px) {
    .divIngresoMayor {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }

    .form-floating {
      width: 80%;
    }
  }
}

.productosNuevos {
  padding: 20px;
}

.promociones .row div {
  height: 250px;
  background-color: purple;
}

.productosPromocionales div a {
  display: flex;
}

.videoPortada {
  width: 100%;
  display: block;
}

span {
  font-weight: 600;
}

section .monto {
  display: flex;
  flex-direction: column;
  color: #926c40;
  font-size: medium;
  font-weight: 600;
}

.imagenPortada {
  width: 100%;
}

.imgProductos {
  width: 100%;
}

.imgPromocionales {
  width: 100%;
}

.columnaPromocionales:hover {
  transform: scale(1.05);
  transition: 0.3s ease;

  @media screen and (max-width: 767px) {
    transform: none;
    hover: none;
  }
}

.newsletter {
  text-align: center;
  color: #493217;

  h6 {
    color: #926c40;
    font-weight: 300;
  }
}

.terminosYCondiciones {
  font-size: 12px;
}

.offcanvas-body {
  display: flex;
  flex-direction: row;
}

.divContenedor {
  display: flex;
  flex-direction: row;
}

.divContenedor2 {
  margin-left: 15px;
}

.divContenedor3 {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

hr {
  border: 1px solid #714a4a;
}

.divTitulo {
  margin-bottom: 5px;
  padding: 0 40px 10px 0;
  font-weight: 400;
}

.col1 {
  height: auto;
  width: 80px;
}

.divCarrito h3 {
  color: #8b5a15;
  font-size: 15px;
}