//este es ununicco comentario para sass, no aparece en scss

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: x-large;
    color: #201e1e;
    padding: 20px;
}
p{
    color: $marron-oscuro;
}

span {
    font-weight: 600;
}

