footer {
    display: flex;
    background-color: $marron-oscuro;
    padding: 10px;
    @include flex (inherit, center, space-between, inherit);
    margin-top: 20px;

    .footer {
        @include flex (column, center, inherit, inherit)
    }

    h4 {
        font-size: 15px;
        color: $blanco;
    }

    img {
        width: 80px;
    }

    div i {
        color: #ffff;
    }

    p {
        font-size: 15px;
        font-weight: 200;
        color: #ffff;
    }

    .contacto {
        text-align: center;
        margin-right: 200px;
    }

    h4 {
        font-size: 15px;
        font-weight: 400;
    }
}



@media screen and (max-width: 767px) {
    .footerMaster {
        @include flex(column, center, inherit, inherit);
        align-content: center;
    }

    .contacto {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}