header .navbar {
  background-color: $marron-oscuro;
  padding: 15px 10px;
  z-index: 4;

  a{
    color:$blanco;
    font-weight: 200;

  }
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
    
    .nav-item a {
      color: $blanco;
      text-decoration: none;
    }
  }

  .container-fluid {
    padding-inline: 20px;
      @include flex (inherit, center, space-between, inherit);


        .nav-link.active {
          color: #422626;
          font-weight: 500;
        }
      }
    }

    .logo {
      width: auto;
    }

    .carritoCompras {
      width: 300px;
    }
  